<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MigrationArchiveMailMover/src/com/yahoo/mail/storage/idxrecovery/reconcile/SiloFileParser.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yahoo.mail.storage.idxrecovery.reconcile.SiloFileParser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MigrationArchiveMailMover"/>
</launchConfiguration>
